/* CSS for application layout-level elements */

@import "bootstrap_customizations";
@import "bootstrap/variables";

$sidebarWidth: 100px;

#main-sidebar {
  height: 100%;
  width: $sidebarWidth;
  float: left;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #555;
  margin-left: -20px;
  
  ul {
    margin: 10px 10px 10px 10px;
    
    li {
      text-align: center;
      margin-top: 15px;
      
      a {
        color: white;
      }
      
      a img {
        margin: 0 auto 5px;
        display: block;
      }
    }
  }
}

#main-content {
  margin-left: $sidebarWidth;
  height: 100%;
  background: $white;
}

#main-container {
  position: absolute;
  top: $navbarHeight;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
